html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
head {
  display: none;
}
body {
  color: #888;
  font-style: Meiryo;
  font-weight: 400;
  line-height: 1.75em;
  background: #fff;
}
footer {
  padding: 1.5em;
  display: block;
}
ul {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  .icon {
    cursor: default;
    list-style: none;
    padding-left: 0;
  }
  .icon li {
    display: inline-block;
    padding: 0 1em 0;
  }
}
li {
  text-align: -webkit-match-parent;
}
a {
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
  a {
    margin: 0;
    padding: 10px;
  }
}
#header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(81, 201, 223);
  color: rgb(165, 228, 156);
  height: 100%;
  width: 16em;
  overflow-y: auto;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  header {
    .icon {
      display: block;
      margin: 0 auto 2.25em auto;
      width: 8em;
    }
  }
  #footer {
    flex-shrink: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    ul {
      margin: 0;
      li {
        display: inline-block;
        padding: 0 2em 10px 0;
      }
    }
  }
  nav {
    flex-grow: 1;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      a {
        transition: none;
        border: 0;
        display: block;
        padding: 0.85em 0;
        text-decoration: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        .active {
          background: #fff;
          color: rgb(81, 201, 223) !important;
        }
      }
    }
  }
  footer {
    .icon {
      li {
        display: inline-block;
        padding: 0 1em 0;
      }
    }
  }
}

.image {
  border: 0;
  position: relative;
  .icon {
    border-radius: 100%;
    overflow: hidden;
  }
}
img {
  border-radius: 100%;
  display: block;
  width: 100%;
}

#wrapper {
  padding-left: 16em;
}
