<!--header-->
<section id="header">
  <header>
    <span class="image icon">
      <img src="https://www.gravatar.com/avatar/64a60d57580ee24667361e0aacc9f01c" alt>
    </span>
    <h1 id="logo">
      kanade0404
    </h1>
  </header>
  <nav id="nav">
    <ul>
      <li>
        <a href="#about">About Me</a>
      </li>
      <li>
        <a href="#blog">はてなBlog</a>
      </li>
      <li>
        <a href="#twitter">Twitter</a>
      </li>
      <li>
        <a href="#github">GitHub</a>
      </li>
    </ul>
  </nav>
  <div id="footer">
    <ul class="icon">
      <li>
        <a href="https://twitter.com/py_kanade">
          <i class="fab fa-twitter fa-fw icon"></i>Twitter</a>
      </li>
      <li>
        <a href="https://github.com/kanade0404">
          <i class="fab fa-github fa-fw icon"></i>GitHub</a>
      </li>
    </ul>
  </div>
</section>
<div class="container">
  <div id="wrapper">
    <div id="main">
      <section id="about">
        <div class="container">
          <header>
            <h2>About me</h2>
          </header>
          <div>
            <p>ソフトウェアエンジニアをやっています。
              <br> プログラミングは2017年11月からはじめました。
            </p>
            <h4>Language</h4>
            <mat-list>
                <mat-list-item><p>C#:仕事はこれなので一番使っている。</p></mat-list-item>
                <mat-list-item><p>Python:一番好き(?)ですが仕事ではまだ使えていない・・・。</p></mat-list-item>
                <mat-list-item><p>JavaScript:よく使うけどできればTypeScriptに乗り換えたい。</p></mat-list-item>
                <mat-list-item>TypeScript:勉強中</mat-list-item>
                <mat-list-item><p>Java:初めてまともなアプリを作ったのはJava。Spring使ったことないですが。</p></mat-list-item>
            </mat-list>
            <h4>Like</h4>
            <mat-list>
              <mat-list-item>Anime:コードギアス、とらドラ、魔法少女まどか☆マギカ、アイカツ！、型月系、etc...</mat-list-item>
              <mat-list-item>Music:UVERworld、T.M.Revolution、水樹奈々、ClariS、etc...。広く浅くなのでほぼにわかです。</mat-list-item>
              <mat-list-item><p>Pokemon:最近はやってないですがシングルとかダブル（どちらかと言うとダブル）が好きです。</p></mat-list-item>
              <mat-list-item><p>Programming:本当か？？？</p></mat-list-item>
              <mat-list-item><p>Economics:都市経済学が専門（）でしたが、最近では情報の非対称性や不完備情報ゲームなどにも興味があります。</p></mat-list-item>
            </mat-list>
            <h4>Editor & IDE</h4>
            <mat-list>
              <mat-list-item>Visual Studio</mat-list-item>
              <mat-list-item>Visual Studio Code</mat-list-item>
              <mat-list-item>PyCharm</mat-list-item>
              <mat-list-item>Atom</mat-list-item>
              <mat-list-item>Vim</mat-list-item>
            </mat-list>
            <h4>Framework & Others</h4>
            <mat-list>
              <mat-list-item>Node.js</mat-list-item>
              <mat-list-item>ASP.NET MVC</mat-list-item>
              <mat-list-item>Django</mat-list-item>
              <mat-list-item>Angular</mat-list-item>
              <mat-list-item>AngularJS</mat-list-item>
              <mat-list-item>Tensorflow</mat-list-item>
              <mat-list-item>MyBatis</mat-list-item>
              <mat-list-item>Vagrant</mat-list-item>
              <mat-list-item>VirtualBox</mat-list-item>
              <mat-list-item>Docker</mat-list-item>
            </mat-list>
          </div>
        </div>
      </section>
      <section id="blog">
        <div class="container">
          <header>
            <h2>はてなブログ</h2>
          </header>
          <a href='https://kana-kanade.hatenablog.com/'>はてなブログ</a>
        </div>
      </section>
      <section id="twitter">
        <div class="container">
          <header>
            <h2>twitter</h2>
          </header>
          <a href='https://twitter.com/py_kanade'>
            <i class="fab fa-twitter"></i>Twitter</a>
        </div>
      </section>
      <section id="github">
        <div class="container">
          <header>
            <h2>GitHub</h2>
          </header>
          <a href='https://github.com/kanade0404'>
            <i class="fab fa-github fa-fw icon"></i>GitHub</a>
        </div>
      </section>
    </div>
  </div>
